* {
  box-sizing: border-box;
}

body{
  background:rgba(29, 35, 41, 0.945);
  /* margin: .6em; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.title-container {
  display: flex;
  justify-content: center;
  background: rgba(111, 142, 189, 0.925);
  border: solid black .2em;
  width: 100%;
  padding: 1rem;
  margin: 2em 0 2em 0;
}



/*=============== Button styles ================= */

button {
  flex-basis: 1;
  font-weight: lighter;
  padding: 10px 24px;
  border-radius: 5%;
  opacity: 95%;
  color: black;
}
option {
 background:  rgba(111, 142, 189, 0.925);
 opacity: 95%;
 font-weight: lighter;
 color: black;
}

.filter-select {
  background:rgba(231, 231, 231, 0.911);
}

.new-bookmark-button {
  background: rgba(231, 231, 231, 0.911);
}

select {
  font-weight: lighter;
  width: 175px;
  border-radius: 4%;
  opacity: 95%;
  color: black;
}


/*========= Add Bookmark form styles ===============*/

#new-bookmark-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 5%;
  opacity: 95%;
  color: black;
  width: 400px;
  height: fit-content;
  margin: auto;
}




/*================= Media Queries============ */

@media (min-width: 320px) {

  div.title-container {
  text-align: center;
  margin-top: 4px;
}

  #new-bookmark-form {
    display: flex;
    flex-direction: column;
  }

  .bookmark-data {
    margin: 0;
  }

  h1 {
    text-align: center;
    margin: auto;
  }

}

@media (min-width: 720px) {
  .title-container {
  display: flex;
  justify-content: center;
  background: rgba(111, 142, 189, 0.925);
  border: solid black .2em;
  width: 100%;
  max-width: 750px;
  padding: 1rem;
  margin: 2em auto 1.2em auto;
}

  h1 {
    text-align: center;
    margin: auto;
  }
}

.rating-select {
  width: 353px;
  margin: auto;
  height: 2.3em;
}

#new-bookmark-input,#new-bookmark-title {
  height: 2.3em;
}

#new-bookmark-description {
  height: 2.3em;
  width: 353px;
}

@media (max-width: 1080) {
  div.title-container {
    flex: auto;
}

}

/*================ Saved Bookmarks styles ===============  */

.bookmark-data {
  list-style-type: none;
  color:rgba(0, 0, 0, 0.925);
  text-align: center;
  border: solid;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(111, 142, 189, 0.925);
  width: 100%;
  max-width: 750px;
  margin: .6em auto 1em;
  padding: 1.2em;
}

.bookmark-data a {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}

input[type=checkbox] {
	-webkit-appearance: none;
	background-color: #fafafade;
	border: .2em solid #131616e5;
	padding: .4em;
  display: inline-block;
  margin-top: .3em;
}

input[type=checkbox]:checked {
  background-color: rgba(209, 211, 82, 0.938);
}

/* ========== Edit Bookmark Form Styles ========== */

.edit-bookmark-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 5%;
  opacity: 95%;
  color: black;
  width: 400px;
  height: fit-content;
  margin: auto;
}


/*================= Other Styles ==============  */


.error-container {
  color: red;
  background: white;
  text-align: center;
}

h1 {
  text-align: center;
}

.title-button-container{
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

:link {
  color: rgb(255, 255, 255);
}

:visited {
  color: rgba(136, 12, 119, 0.918);
}

a:hover {
  text-decoration: line-through;
  color: rgba(12, 13, 14, 0.932);
}

#delete-bookmark {
    margin: auto;
}

#edit-bookmark {
  margin: auto;
}


/* ======= Footer styles  ============ */

.footer {
  opacity: 95%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: crimson;
  color: black;
  text-align: center;
}

.footer a {
  color: rgba(21, 22, 22, 0.911)
}

.footer a:hover {
  text-decoration: line-through;
  color: rgb(21, 79, 133);
}